  <!-- Footer -->
  <footer class="site-footer">
    <span class="site-footer-legal">© 2015 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></span>
    <div class="site-footer-right">
      Crafted with <i class="red-600 wb wb-heart"></i> by <a href="http://themeforest.net/user/amazingSurge">amazingSurge</a>
    </div>
  </footer>
  <!-- Core  -->
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/jquery/jquery.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/bootstrap/bootstrap.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/animsition/jquery.animsition.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

  <!-- Plugins -->
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/switchery/switchery.min.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/intro-js/intro.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/screenfull/screenfull.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

  <!-- Scripts -->
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/core.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/site.js"></script>

  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/sections/menu.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/sections/menubar.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/sections/gridmenu.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/sections/sidebar.js"></script>

  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/configs/config-colors.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/configs/config-tour.js"></script>

  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/components/asscrollable.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/components/animsition.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/components/slidepanel.js"></script>
  <script src="/Admin/Apps/Admin/View/Layouts/assets/js/components/switchery.js"></script>

  <!-- Scripts For This Page -->

  <!-- 前端验证插件 -->
  <script src="/Public/Common/jquery-validation-1/dist/jquery.validate.min.js"></script>
  <script src="/Public/Common/jquery-validation-1/dist/localization/messages_zh.js"></script>
  <!-- layer -->
  <script src="/Public/Common/layer/layer.js"></script>
  <!-- bootstrap插件 -->
  <script src="/Public/Common/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/Public/Common/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.fr.js"></script>
  <script src="/Public/Common/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <!-- UEditor插件 -->
  <script type="text/javascript" src="/Public/Common/utf8-php/ueditor.config.js"></script>
  <script type="text/javascript" src="/Public/Common/utf8-php/ueditor.all.js"></script>

  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>


</body>

</html>