<include file="Layouts/header" />
<include file="Layouts/nav" />
  <!-- Page -->
  <div class="page animsition">
    <div class="page-header">
      <h1 class="page-title">金鹏实验小学后台</h1>
    </div>
    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
          <blockquote>
            <p>书山有路勤为径，学海无涯苦作舟。──韩愈</p>
          </blockquote>
          <blockquote>
            <p>成功＝艰苦的劳动＋正确的方法＋少谈空话。──爱因斯坦</p>
          </blockquote>
          <blockquote>
            <p>天生我材必有用。──李白</p>
          </blockquote>
          <blockquote>
            <p>一日无书，百事荒废。——陈寿</p>
          </blockquote>
          <blockquote>
            <p>少年进步则国进步。——梁启超</p>
          </blockquote>

        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
<include file="Layouts/footer" />

