<include file="Layouts/header1" />
<!-- 当前页面css -->
<link rel="stylesheet" href="/Apps/Wap/View/Signinorlogin/css/index.css">
	
	<!-- 页面主体 start-->

	<!-- 内容 start-->
	<div class="container-fluid bckImg content">
		<div class="container contentCon">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<img class="logo" src="/Apps/Wap/View/Signinorlogin/img/logo.png">
				</div>
				<div class="col-xs-12 col-sm-12">
					<img class="nameJp" src="/Apps/Wap/View/Signinorlogin/img/jinpeng.png">
				</div>
				<div class="col-xs-12 col-sm-12">
					<a href="/Wap/Login/index" class="login">登&nbsp;录</a>
					<a href="/Wap/Signin/index" class="signin">注&nbsp;册</a>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容 end-->

	<!-- 启动页 start-->
	<div class="container-fluid bckImg begin">
	</div>
	<!-- 启动页 end-->

	<!-- 页面主体 end-->

<include file="Layouts/footer" />
<!-- 当前页面js -->
<script type="text/javascript" src="/Apps/Wap/View/Signinorlogin/js/index.js"></script>
<script type="text/javascript" src="/Apps/Wap/View/Layouts/js/bckImg.js"></script>