<style type="text/css">
        .page{
            text-align:center;
            }
        .page div .num{
            display:inline-block;
            width:20px;
            height:20px;
            line-height:20px;
            border:1px solid #201913;
            color:#201913;
            box-sizing:border-box;
            text-decoration:none;
            margin:0 5px;
            text-align:center;
            font-size:14px;
            }
        .page div .current{
            display:inline-block;
            width:20px;
            height:20px;
            line-height:20px;
            background:rgb(32,25,19);
            color:#fff;
            margin:0 5px;
            border:1px solid #201913;
            box-sizing:border-box;
            text-align:center;
            font-size:14px;
            }
        .page div a{
            text-decoration:none;
            color: #000;
            }
        .page{
          width: 100%;
          position: absolute;
          bottom: 90px;
          left: 0;
        }
</style>