.bckImg{
	background-image: url("/Apps/Wap/View/Shistorycycle/img/历史得分（学生）2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.ul{
	padding-top:50px;
	list-style: none;
}
.ul>li{
	width: 25%;
	margin-left: 6.25%;
	background-color: #f4c16f;
	border-radius: 50%;
	text-align: center;
	margin-top: 20px;
}
.ul>li>a{
	font-size: 16px;
	color: #000;
}
.ul>li.totalGrade{
	margin-left: 38.5%;
}
