<!-- 搜索 start-->
<!-- <div class="weui-search-bar" id="searchBar">
  <form class="weui-search-bar__form" id="frm" action="__APP__/Sthecycle/index" method="post">
    <div class="weui-search-bar__box">
      <button class="weui-icon-search" id="sou"></button>
      <input type="search" name="content" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="" name="searched">
      <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
    </div>
    <label class="weui-search-bar__label" id="searchText">
      <i class="weui-icon-search"></i>
      <span>搜索</span>
    </label>
  </form>
  <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div> -->
<!-- 搜索 end-->
<!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script>
  $(function(){
    $("#sou").click(function(){

      $("#frm").ajaxSubmit();
    })
  })
</script> -->
<div class="row search">
  <div class="col-xs-12 col-sm-12" style="position: relative;">
    <div class="product-head">
      <div id="form">
        <div class="xiaoguo">
          <i class="weui-icon-search"></i>
          <span>搜索</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <input type="" placeholder="" name=""> -->