  <!-- 底部菜单 start-->
  <div style="height: 110px;" class="downHeight"></div>
  <ul class="downMenu">
	<a href="/Wap/Teacher/index" <eq name="Teacher" value="1">class="menuStyle"</eq> >
	  <span class="fa fa-archive fa-2x menuColor"></span>
	  <p class="menuColor">本期得分</p>
	</a>
	<a href="/Wap/Sthecycle/index/uid/{$Think.session.userinfo.uid}" <eq name="Sthecycle" value="1">class="menuStyle"</eq> >
	  <span class="fa fa-history fa-2x menuColor"></span>
	  <p class="menuColor">历史周期</p>
	</a>
	<a href="/Wap/Sme/index/uid/{$Think.session.userinfo.uid}" <eq name="Sme" value="1">class="menuStyle"</eq> >
	  <span class="fa fa-user fa-2x menuColor"></span>
	  <p class="menuColor">我</p>
	</a>
  </ul>
  <!-- 底部菜单 end-->